/* Common CSS */
body {
  /* 덜 촌스러워 보이는 글자색 지정 */
  /* 기본 설정 */
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

img {
  /*  모든 이미지 태그는 블록으로 처리 */
  display: block;
}

/* HEADER */
header {
  background-color: royalblue;
}
header .inner {
  position: relative;
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  background-color: orange;
}
header .logo {
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
}
